<p>O práci sudcu sa z jeho výkazu dozvieme mnoho relatívne podrobných informácií, transparentnosti súdov v rozhodujúcej miere pomáha povinné zverejňovanie súdnych rozhodnutí a nemálo transparentný je aj výber nových sudcov. Vďaka týmto dátam môže fungovať efektívna verejná kontrola, a to aj napríklad vo forme portálu <%= link_to 'otvorenesudy.sk', 'https://otvorenesudy.sk' %>.</p>

<p>Prokuratúra v tomto smere zaostáva míľovými krokmi. O jednotlivých prokurátoroch sme až donedávna nevedeli ani len to, v ktorom meste pôsobia. Keď aj sú niektoré informácie zverejnené, je náročné ich spracovať a relevantne porovnať. Portál OTVORENÁ PROKURATÚRA, ktorý vznikol v roku 2020 si dáva za cieľ tento nedostatok v otvorených dátach napraviť.</p>

<p>Na stránkach Otvorenej Prokuratúry sa preto dozviete nielen to, kde jednotliví prokurátori pôsobia, získate aj prehľad  o ich majetkových priznaniach a v prehľadnej forme si môžete naštudovať dáta o stíhaní a trestaní trestných činov na Slovensku, či v jeho jednotlivých regiónoch.</p>

<p>Všetky dáta sú verejne dostupné a pochádzajú od Generálnej prokuratúry SR. Portál sa snažíme neustále aktualizovať a rozširovať jeho funkcionalitu. V mnohých prípadoch sú však nevyhnutné aj legislatívne zmeny, vďaka ktorým by sme sa o práci prokurátorov mohli dozvedieť omnoho viac podstatných informácií.</p>

<p>Autorom projektu je občianske združenie <%= link_to "Transparency International Slovensko", 'https://transparency.sk/', target: :_blank %>, pobočka celosvetovo uznávanej mimovládnej organizácie, zameriavajúcej sa na boj proti korupcii. Realizáciu projektu zastrešil <%= link_to "Samuel Molnár", 'https://github.com/smolnar', target: :_blank %>.</p>

<p>Projekt OTVORENÁ PROKURATÚRA vznikol vďaka podpore Fondu pre transparentné Slovensko <%= link_to "Nadácie Pontis", "https://www.nadaciapontis.sk", target: :_blank %>, Veľvyslanectva Holandského kráľovstva na Slovensku a Veľvyslanectva Kanady v Slovenskej republike.</p>

<p>Za hosting projektu ďakujeme spoločnosti <%= link_to 'Petit Press', 'https://petitpress.sk/', target: :_blank %>, prevádzkovateľovi portálu <%= link_to 'SME.sk', "http://sme.sk/", target: :_blank %>.</p>

<p>Za pomoc veľmi pekne ďakujeme aj Michaele Štefánikovej  a ďalším kolegom.</p>

<p>Za GPS dáta pre zobrazenie hraníc Slovenska by sme sa radi poďakovali autorom z <%= link_to 'Geoportál', 'https://www.geoportal.sk/sk/zbgis_smd/na-stiahnutie/', target: :_blank %> a <%= link_to 'GitHub', 'https://github.com/drakh/slovakia-gps-data', target: :_blank %></p>

<p>Ďalšie informácie o projekte nájdete zodpovedané v sekcii <%= link_to "Často kladených otázok", static_page_path('faq') %>. </p>

<%= link_to image_tag('brands/pontis.svg', height: '225px'), 'https://www.nadaciapontis.sk/projekty/fond-pre-transparentne-slovensko/', class: 'mr-5 mr-md-5 mt-3 mt-md-0', target: :_blank %>
<%= link_to image_tag('brands/canada.png', height: '100px'), 'https://www.embassy-canada.com/ca/Canada-in-Bratislava', class: 'mr-5 mr-md-5 mt-3 mt-md-0', target: :_blank %>
<%= link_to image_tag('brands/nl.svg', height: '130px'), 'https://www.netherlandsworldwide.nl/countries/slovakia', class: 'mr-5 mr-md-5 mt-3 mt-md-0', target: :_blank %>
