<h2>Čo je cieľom projektu?</h2>

<p>Cieľom projektu OTVORENÁ PROKURATÚRA je na základe verejne dostupných dát zvýšiť tlak na kvalitu slovenskej prokuratúry a prostredníctvom systému otvorených dát tiež sprehľadniť výsledky práce slovenských prokurátorov. Nakoľko sú verejne dostupné dáta publikované v neprehľadnej podobe, užívateľ sa často nedozvie to, čo ho zaujíma, pretože nemá čas alebo schopnosti danú informáciu dohľadať. Cieľom projektu je preto zhromaždiť veľké množstvo verejne dostupných dát z oblasti prokuratúry na jednom mieste a prehľadným spôsobom umožniť verejnú kontrolu novinárom, aktivistom, vedcom alebo ktorémukoľvek angažovanému občanovi.</p>

<p>Dlhodobým cieľom <%= link_to 'Transparency International Slovensko', 'https://transparency.sk', target: :_blank %> je prispieť k vývoju kvalitatívnych aj kvantitatívnych indikátorov, ktoré by umožňovali merať kvalitu a zmeny kvality v prokuratúre na úrovni jednotlivých prokurátorov a prokuratúr.</p>

<h2>Čo môžem na portáli robiť?</h2>

<p>Stránka poskytuje informácie o prokurátoroch (najmä pôsobisko, mediálne zmienky, či majetkové priznania), profily prokuratúr s ich výkonnostnými indikátormi a prehľad stíhania a trestania kriminality na Slovensku.</p>

<h2>Viete mi poskytnúť právne poradenstvo?</h2>

<p>Právna poradňa nie je súčasťou tohto projektu. V prípade, že právnu radu hľadáte, môžete sa obrátiť na <%= link_to 'Centrum právnej pomoci', 'https://www.ustavnysud.sk/sk/centrum-pravnej-pomoci', target: :_blank %>. Úlohou centra je však pomoc materiálne znevýhodneným, ktorí si inú právnu pomoc dovoliť nemôžu, no s jednoduchými vecami Vám môžu poradiť. Tiež si môžete priamo vyhľadať advokáta na stránke <%= link_to 'Slovenskej advokátskej komory', 'https://www.sak.sk/blox/cms/sk/sak/adv/vyhladanie', target: :_blank %>, na ktorého sa obrátite.</p>


<h2>Kto je autorom projektu?</h2>

<p>Autorom projektu je občianske združenie <%= link_to 'Transparency International Slovensko', 'https://transparency.sk', target: :_blank %>, pobočka celosvetovo uznávanej mimovládnej organizácie, zameriavajúcej sa na boj proti korupcii. Realizáciu projektu zastrešil <%= link_to "Samuel Molnár", 'https://github.com/smolnar', target: :_blank %>.</p>

<h2>Kto to platí?</h2>

<p>Projekt OTVORENÁ PROKURATÚRA vznikol vďaka podpore Fondu pre transparentné Slovensko <%= link_to "Nadácie Pontis", "https://www.nadaciapontis.sk", target: :_blank %>, Veľvyslanectva Holandského kráľovstva na Slovensku a Veľvyslanectva Kanady v Slovenskej republike. Čiastkové úpravy a aktualizácie sa dejú aj na základe podpory individuálnych darcov, ku ktorým sa môžete <%= link_to 'pridať aj Vy', 'https://transparency.darujme.sk/238?donation=40&periodicity=periodical', target: :_blank %>.</p>

<p>
  Za hosting projektu ďakujeme spoločnosti <%= link_to 'Websupport', 'https://websupport.sk', target: :_blank %>.
</p>


<h2>Ako môžem pomôcť?</h2>

<p>Používajte stránku, dajte o nej vedieť známym, ktorých by mohla zaujímať. Sledujte novinky na sociálnych sieťach <%= link_to 'Facebook', 'https://facebook.com/transparencysk', target: :_blank %> a <%= link_to 'Twitter', 'https://twitter.com/transparencysk', target: :_blank %>, a ak ste programátor tak určite aj na sieti <%= link_to 'GitHub', 'https://github.com/otvorenesudy' %>.</p>

<p>Pridajte sa a <%= link_to 'podporte tento projekt', 'https://transparency.darujme.sk/238?donation=40&periodicity=periodical', target: :_blank %>, aby sme mohli prinášať viac transparentnosti do slovenskej prokuratúry.</p>


<h2>Odkiaľ pochádzajú použité dáta?</h2>

<p>Portál využíva výhradne dáta zverejnené alebo sprístupnené Generálnou prokuratúrou Slovenskej republiky. Väčšina dát pochádza z webového sídla, <%= link_to 'ročenky a štatistických výkazov', 'https://www.genpro.gov.sk/statistiky-12c1.html', target: :_blank %> zverejňovaných generálnou prokuratúrou.</p>

<p>Za vecnú správnosť dát autori nenesú zodpovednosť. Použité dáta boli normalizované a navzájom prepojené.</p>

<p>Mediálne dáta sú prepojené prostredníctvom vyhľadávača Google. Odkazy na tieto články sú vyhľadávané automaticky na základe názvu prokuratúry alebo mena a pôsobiska prokurátora. Prokuratúry, ani prokurátora sa preto týkať v niektorých prípadoch nemusia.</p>


<p>Ako často sú dáta aktualizované?</p>

<p>Za bežnej prevádzky plánujeme aktualizovať dáta raz ročne, a to na základe aktualizácii vykonaných Generálnou prokuratúrou SR. Zoznam prokurátorov, prokuratúr a mediálne zmienky sa aktualizujú denne.</p>


<h2>Našiel som chybu, čo mám spraviť?</h2>

Napíšte nám, prosím, čo najpresnejší popis chyby a zašlite nám ho e-mailom na <%= link_to 'kontakt@otvorenesudy.sk', 'mailto:kontakt@otvorenesudy.sk' %>. Ak ste našli <%= link_to 'chybu v dátach', static_page_path('feedback'), target: :_blank %>, postupujte podobne.


<h2>Sú dáta úplné?</h2>

<p>Vzhľadom na limitované finančné a ľudské prostriedky, ako aj na rozsah skúmaných dát sa portál OTVORENÁ PROKURATÚRA momentálne zameriava iba na trestnoprávnu agendu jednotlivých prokuratúr. Sekcia Kriminalita preto poskytuje výlučne dáta z registra „V“ - registre pre veci dozoru v trestnom konaní.</p>


<h2>A čo dátové chyby?</h2>

<p>Tie sú náročnejšie na opravu – dáta mohli byť chybné pred tým ako sme ich získali, alebo sme niečo pokazili my. Snažíme sa, aby chýb bolo najmenej a do budúcna plánujeme pracovať na elegantnom riešení opravy chýb.</p>

<h2>Čo je TZ 61, ktorý vidím pri vyhľadávaní paragrafov v sekcii Kriminalita?</h2>

<p>Ide o trestný zákon č. 140/1961 Zb., ktorý bol platný do roku 2005. S účinnosťou od 1.1. 2006 bol nahradený novým trestným zákonom č. 300/2005 Z. z.</p>

<p>V trestnom práve ale platí zásada, že skutok je posudzovaný podľa právneho predpisu platného a účinného v čase jeho spáchania (teda nie v čase prejednávania). Napríklad, ak bola vražda spáchaná v roku 2004, ale vyšetrovanie sa začalo až v roku 2008, musí sa postupovať podľa „starého“ trestného zákona. Preto je vyhľadávanie nutné realizovať v dvoch právnych predpisoch.</p>

<h2>Existuje niekde manuál k tomu, čo na webe môžem nájsť?</h2>

<p>Áno, nájdete ho <%= link_to 'na nasledovnom odkaze', 'https://youtu.be/AbPwNs768h4', target: :_blank %>.</p>
