<div class="row">
  <div class="col">
    <div id="carousel" class="carousel carousel-fade slide mb-5" data-ride="carousel">
      <div class="carousel-inner mb-3 text-center">
        <div class="carousel-item active">
          <%= link_to image_tag(asset_path('slides/volby-2023.png'), alt: 'Nenechajme voľby bez kontroly', style: 'width: 100%; max-width: 100%; max-height: 100%'), 'https://transparency.sk/volby', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/2-percenta-2023.png'), alt: '2% pre Transparency International', style: 'width: 100%; max-width: 100%; max-height: 100%'), 'https://transparency.sk/sk/2percenta', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/prokuratura-navod.svg'), alt: 'Návod na portál Otvorená Prokuratúra', style: 'width: 100%; max-width: 100%; max-height: 100%'), 'https://www.youtube.com/watch?v=AbPwNs768h4', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/rytieri.png'), alt: 'Rytieri a bojovníčky Transparency', style: 'width: 100%; max-width: 100%; max-height: 100%'), 'https://transparency.sk/sk/rytieri', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/justicia-a-infozakon.svg'), alt: 'Justícia a infozákon', style: 'width: 100%; max-width: 100%; max-height: 100%'), 'https://transparency.sk/sk/akademia/temy/justicia', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/rodinne-vazby-sudcov.svg'), alt: 'Rodinné väzby sudcov', style: 'width: 100%; max-width: 100%; max-height: 100%'), 'http://sudy.transparency.sk', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/korupcia-zabija-spravodlivost.svg'), alt: 'Korupcia zabíja spravodlivosť', style: 'width: 100%; max-width: 100%; max-height: 100%'), 'https://transparency.darujme.sk/2319/?donation=40&periodicity=periodical', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/spravy-z-boja-proti-korupcii.svg'), alt: 'Správy z boja proti korupcii', style: 'width: 100%; max-width: 100%; max-height: 100%'), 'https://eepurl.com/doWD8X', class: 'd-block w-100', target: :_blank %>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
        <li data-target="#carousel" data-slide-to="4"></li>
        <li data-target="#carousel" data-slide-to="5"></li>
      </ol>
    </div>
  </div>
</div>

<div class="row">
   <div class="col-12 col-lg-7 col-xl-6 d-flex flex-column pb-lg-4">
     <div class="feature flex-grow-1 p-4">
       <h1 class="text-info mb-4">
         <%= t('.feature.headline') %>
         <br/>
         <%= t('.feature.footline') %>
       </h1>
       <h4 class="mb-3">
         <%= t('.feature.list', project: content_tag(:span, t('.feature.project'), class: 'text-uppercase')).html_safe %>
       </h4>
       <div class="d-flex align-items-center">
         <ol class="list-unstyled mb-0">
           <% t('.feature.items').each do |item| %>
             <li><%= item %></li>
           <% end %>
         </ol>
       </div>
     </div>
   </div>

   <div class="col-12 col-lg-5 col-xl-6 mt-4 mt-lg-0">
     <div class="row font-weight-bold text-center text-uppercase">
       <%= link_to icon_tag('prosecutors', size: 60) + content_tag(:span, t('.squares.prosecutors')), prosecutors_path, class: 'square mx-3 mb-4' %>
       <%= link_to icon_tag('general-office', size: 60) + content_tag(:span, t('.squares.offices')), offices_path, class: 'square mx-3 mb-4' %>
       <div class="d-block w-100"></div>
       <%= link_to icon_tag('criminality', size: 60) + content_tag(:span, t('.squares.criminality')), statistics_path, class: 'square mx-3 mb-4' %>
       <%= link_to icon_tag('magnifier', size: 60) + content_tag(:span, t('.squares.search')), 'https://transparency.blog.sme.sk/', class: 'square mx-3 mb-4', target: :_blank %>
     </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12">
    <h2 class="mb-4 text-uppercase"><%= t '.average_incoming_cases_chart_title' %></h2>
    <div data-controller="home-average-incoming-cases-chart" data-watermark-url="<%= image_url("brands/transparency-international-slovensko.#{I18n.locale}.svg") %>"></div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12">
    <h2 class="mb-4 text-uppercase"><%= t '.average_incoming_cases_comparison_chart_title' %></h2>
    <div data-controller="home-average-incoming-cases-comparison-chart" data-watermark-url="<%= image_url("brands/transparency-international-slovensko.#{I18n.locale}.svg") %>"></div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12">
    <h2 class="mb-4 text-uppercase"><%= t '.ratio_of_rest_to_incoming_cases_chart_title' %></h2>
    <div data-controller="home-ratio-of-rest-to-incoming-cases-chart" data-watermark-url="<%= image_url("brands/transparency-international-slovensko.#{I18n.locale}.svg") %>"></div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-12">
    <h2 class="mb-4 text-uppercase"><%= t '.filed_cases_to_incoming_cases_chart_title' %></h2>
    <div data-controller="home-filed-cases-to-incoming-cases-chart" data-watermark-url="<%= image_url("brands/transparency-international-slovensko.#{I18n.locale}.svg") %>"></div>
  </div>
</div>
