<div class="row">
  <div class="col">
    <div id="carousel" class="carousel carousel-fade slide mb-5" data-ride="carousel">
      <div class="carousel-inner mb-3 text-center">
        <div class="carousel-item active">
          <%= link_to image_tag(asset_path('slides/prokuratura-navod.svg'), alt: 'Návod na portál Otvorená Prokuratúra'), 'https://www.youtube.com/watch?v=AbPwNs768h4', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/rytieri.png'), alt: 'Rytieri a bojovníčky Transparency', style: 'max-width: 100%; max-height: 100%'), 'https://transparency.sk/sk/rytieri', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/justicia-a-infozakon.svg'), alt: 'Justícia a infozákon'), 'https://transparency.sk/sk/akademia/temy/justicia', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/rodinne-vazby-sudcov.svg'), alt: 'Rodinné väzby sudcov'), 'http://sudy.transparency.sk', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/korupcia-zabija-spravodlivost.svg'), alt: 'Korupcia zabíja spravodlivosť'), 'https://transparency.darujme.sk/2319/?donation=40&periodicity=periodical', class: 'd-block w-100', target: :_blank %>
        </div>
        <div class="carousel-item">
          <%= link_to image_tag(asset_path('slides/spravy-z-boja-proti-korupcii.svg'), alt: 'Správy z boja proti korupcii'), 'https://eepurl.com/doWD8X', class: 'd-block w-100', target: :_blank %>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
        <li data-target="#carousel" data-slide-to="4"></li>
        <li data-target="#carousel" data-slide-to="5"></li>
      </ol>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="row font-weight-bold text-center text-uppercase">
      <%= link_to icon_tag('prosecutors', size: 60) + content_tag(:span, t('.squares.prosecutors')), prosecutors_path, class: 'square mx-3 mb-4' %>
      <%= link_to icon_tag('general-office', size: 60) + content_tag(:span, t('.squares.offices')), offices_path, class: 'square mx-3 mb-4' %>
      <div class="d-block d-md-block d-lg-none w-100"></div>
      <%= link_to icon_tag('criminality', size: 60) + content_tag(:span, t('.squares.criminality')), statistics_path, class: 'square mx-3 mb-4' %>
      <%= link_to icon_tag('magnifier', size: 60) + content_tag(:span, t('.squares.search')), 'https://transparency.blog.sme.sk/', class: 'square mx-3 mb-4', target: :_blank %>
    </div>
  </div>
</div>
