<h2 class="h4 text-uppercase mt-4">
  <%= t 'offices.show.employees' %>
</h2>

<p>
  <%= t('.explanation')%>
</p>

<div class="table-responsive-md" data-controller="table">
  <%= table_tag class: 'table' do %>
    <thead>
      <tr>
        <%= table_header_tag t('.name'), class: 'text-left w-60', sorter: 'text' %>
        <%= table_header_tag t('.position'), class: 'text-left w-40', sorter: 'text' %>
      </tr>
    </thead>
    <tbody>
      <% @office.employees.active.order(id: :asc).each do |employee| %>
        <tr>
          <td data-value="<%= employee.name_parts.values_at('last', 'first', 'middle').join(' ').strip %>">
            <% if employee.prosecutor %>
              <%= link_to(employee.prosecutor.name, employee.prosecutor) %>
            <% else %>
              <%= employee.name %>
            <% end %>
          </td>
          <td>
            <%= employee.position %>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</div>
