<% @office.news.tap do |articles| %>
  <ul id="media" class="list-unstyled mt-4">
    <% articles.each do |article| %>
      <li class="mb-3">
        <a href="<%= article[:url] %>" target="_blank"><%= article[:title] %></a>
        <br>
        <span class="text-muted">
          <%= article[:source] %>
        </span>
      </li>
    <% end %>
  </ul>

  <% if articles.any? %>
    <p>
      <small class="text-muted">
        <a href="<%= GoogleNews.search_url_for(@office) %>" target="_blank"><%= t 'offices.show.media.more_from_google' %></a>

        &middot;

        <%= t 'offices.show.media.disclaimer' %>
      </small>
    </p>
  <% else %>
    <p class="text-muted">
      <%= t 'offices.show.media.no_results' %>
    </p>
  <% end %>
<% end %>
