<h2 class="h4 text-uppercase mt-4">
  <%= t 'offices.show.prosecutors' %>
</h2>

<p>
  <%= t('.explanation')%>
</p>

<div class="table-responsive-md" data-controller="table">
  <%= table_tag class: 'table' do %>
    <thead>
      <tr>
        <%= table_header_tag tooltip_tag(t('.activity'), t('.activity_help')), class: 'text-center', sorter: false %>
        <%= table_header_tag t('.name'), class: 'text-left w-60', sorter: 'text' %>
        <%= table_header_tag t('.position'), class: 'text-left w-40', sorter: 'text' %>
      </tr>
    </thead>
    <tbody>
      <% @office.appointments.current.order(id: :asc).each do |appointment| %>
        <tr>
          <td class="text-center">
            <%= prosecutor_activity_icon_tag appointment, size: 12 %>
          </td>
          <td data-value="<%= appointment.prosecutor.name_parts.values_at('last', 'first', 'middle').join(' ').strip %>">
            <%= link_to(appointment.prosecutor.name, appointment.prosecutor) %>
          </td>
          <td>
            TODO
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</div>
