<% provide :title, @office.name %>

<h1 class="text-uppercase my-4">
  <%= yield :title %>
  <small class="d-block h6 font-weight-bold mt-2 mb-0">
    <%= @office.full_address %>
  </small>
</h1>

<p>
  <%= t "offices.index.list.prosecutor_subtitle.#{@office.type}_html", link: link_to(@office.attorney_general.prosecutor.name, prosecutor_path(@office.attorney_general)) %>
</p>

<p>
  <%= t 'offices.index.register' %>
  <%=
    [
      t('offices.index.prosecutors_count', count: @office.prosecutors.count),
      t('offices.index.employees_count', count: @office.employees.active.count)
    ].to_sentence
  %>.
  <%=
    help_tag(
      title: t('.average_data_disclaimer_title'),
      content: @office.prosecutors_count_by_years.map do |year, count|
        "<b>#{year}</b> &ndash; #{t('terms.prosecutor_with_count', count: number_with_precision(count, precision: 2, strip_insignificant_zeros: true))}"
      end.join('<br>').html_safe
    )
  %>
</p>

<% if @office.convicted_people_by_year.present? %>
  <p>
    <%= t '.average_convicted_people_yearly_html', count: number_with_delimiter(@office.average_convicted_people_yearly.round(2)) %>
    <%=
      help_tag(
        title: t('.average_data_disclaimer_title'),
        content: @office.convicted_people_by_year.map { |year, count| "<b>#{year}</b> &ndash; #{number_with_precision(count, precision: 2, strip_insignificant_zeros: true)}" }.join('<br>').html_safe
      )
    %>
  </p>
<% end %>

<% if @office.average_incoming_cases_per_prosecutor_monthly_by_years.present? %>
  <p>
    <%= t '.average_incoming_cases_per_prosecutor_monthly_html', count: number_with_delimiter(@office.average_incoming_cases_per_prosecutor_monthly.round(2)) %>
    <%=
      help_tag(
        title: t('.average_data_disclaimer_title'),
        content: @office.average_incoming_cases_per_prosecutor_monthly_by_years.map { |year, count| "<b>#{year}</b> &ndash; #{number_with_precision(count, precision: 2, strip_insignificant_zeros: true)}" }.join('<br>').html_safe
      )
    %>
  </p>
<% end %>


<% if @office.average_incoming_cases_per_prosecutor_yearly_by_years.present? %>
  <p>
    <%= t '.average_incoming_cases_per_prosecutor_yearly_html', count: number_with_delimiter(@office.average_incoming_cases_per_prosecutor_yearly.round(2)) %>
    <%=
      help_tag(
        title: t('.average_data_disclaimer_title'),
        content: @office.average_incoming_cases_per_prosecutor_yearly_by_years.map { |year, count| "<b>#{year}</b> &ndash; #{number_with_precision(count, precision: 2, strip_insignificant_zeros: true)}" }.join('<br>').html_safe
      )
    %>
  </p>
<% end %>

<% if @office.average_filed_prosecutions_per_prosecutor_monthly_by_years.present? %>
  <p>
    <%= t '.average_filed_prosecutions_per_prosecutor_monthly_html', count: number_with_delimiter(@office.average_filed_prosecutions_per_prosecutor_monthly.round(2)) %>
    <%=
      help_tag(
        title: t('.average_data_disclaimer_title'),
        content: @office.average_filed_prosecutions_per_prosecutor_monthly_by_years.map { |year, count| "<b>#{year}</b> &ndash; #{number_with_precision(count, precision: 2, strip_insignificant_zeros: true)}" }.join('<br>').html_safe
      )
    %>
  </p>
<% end %>


<% if @office.average_filed_prosecutions_per_prosecutor_yearly_by_years.present? %>
  <p>
    <%= t '.average_filed_prosecutions_per_prosecutor_yearly_html', count: number_with_delimiter(@office.average_filed_prosecutions_per_prosecutor_yearly.round(2)) %>
    <%=
      help_tag(
        title: t('.average_data_disclaimer_title'),
        content: @office.average_filed_prosecutions_per_prosecutor_yearly_by_years.map { |year, count| "<b>#{year}</b> &ndash; #{number_with_precision(count, precision: 2, strip_insignificant_zeros: true)}" }.join('<br>').html_safe
      )
    %>
  </p>
<% end %>

<ul class="nav nav-tabs mt-4" role="tablist">
  <%= tab_link_tag t('.contact'), 'contact', class: 'active', tabindex: -1 %>
  <%= tab_link_tag t('.prosecutors'), 'prosecutors' %>
  <%= tab_link_tag t('.employees'), 'employees' %>
  <%= tab_link_tag t('.media.title'), 'media' %>
</ul>

<div class="tab-content">
  <%= render_tab partial: 'contact', class: 'active' %>
  <%= render_tab partial: 'prosecutors' %>
  <%= render_tab partial: 'employees' %>
  <%= render_tab partial: 'media' %>
</div>
