<% provide :title, @office.name %>

<h1 class="text-uppercase my-4">
  <%= yield :title %>
  <small class="d-block h6 font-weight-bold mt-2 mb-0">
    <%= @office.full_address %>
  </small>
</h1>

<p>
  <%= t "offices.index.list.prosecutor_subtitle.#{@office.type}_html", link: link_to(@office.attorney_general.prosecutor.name, prosecutor_path(@office.attorney_general.prosecutor)) %>
</p>

<p>
  <%= t 'offices.index.register' %>
  <%=
    [
      t('offices.index.prosecutors_count', count: @office.prosecutors.count),
      t('offices.index.employees_count', count: @office.employees.active.count)
    ].to_sentence
  %>.
</p>

<% if @office.convicted_people_by_years.present? %>
  <p>
    <%= t '.average_convicted_people_yearly_html', count: number_with_delimiter(@office.average_convicted_people_yearly.round(2)) %>

    <% if @office.regional? || @office.district? %>
      <%= t ".indicators_comparison_by_office_type.#{@office.type}", count: number_with_precision(Office.average_convicted_people_yearly_by_office_type[@office.type], precision: 2, strip_insignificant_zeros: true) %>
    <% end %>
  </p>
<% end %>

<% if @office.average_incoming_cases_per_prosecutor_yearly_by_years.present? %>
  <p>
    <%= t '.average_incoming_cases_per_prosecutor_yearly_html', count: number_with_delimiter(@office.average_incoming_cases_per_prosecutor_yearly.round(2)) %>

    <% if @office.regional? || @office.district? %>
      <%= t ".indicators_comparison_by_office_type.#{@office.type}", count: number_with_precision(Office.average_incoming_cases_per_prosecutor_yearly_by_office_type[@office.type], precision: 2, strip_insignificant_zeros: true) %>
    <% end %>
  </p>
<% end %>

<% if @office.average_filed_prosecutions_per_prosecutor_yearly_by_years.present? %>
  <p>
    <%= t '.average_filed_prosecutions_per_prosecutor_yearly_html', count: number_with_delimiter(@office.average_filed_prosecutions_per_prosecutor_yearly.round(2)) %>

    <% if @office.regional? || @office.district? %>
      <%= t ".indicators_comparison_by_office_type.#{@office.type}", count: number_with_precision(Office.average_filed_prosecutions_per_prosecutor_yearly_by_office_type[@office.type], precision: 2, strip_insignificant_zeros: true) %>
    <% end %>
  </p>
<% end %>

<% @office.to_indicators_chart_data.tap do |data| %>
 <% if data[:data].any? %>
    <div
      class="w-100 mt-5 mb-5"
      data-controller="indicators"
      data-watermark-url="<%= image_url("brands/transparency-international-slovensko.#{I18n.locale}.svg") %>"
      data-json="<%= data.to_json %>"
    >
      <div class="chart"></div>
    </div>
  <% end %>
<% end %>

<ul class="nav nav-tabs mt-4" role="tablist">
  <%= tab_link_tag t('.contact'), 'contact', class: 'active', tabindex: -1 %>
  <%= tab_link_tag t('.prosecutors'), 'prosecutors' %>
  <%= tab_link_tag t('.employees'), 'employees' %>
  <%= tab_link_tag t('.media.title'), 'media' %>
</ul>

<div class="tab-content">
  <%= render_tab partial: 'contact', class: 'active' %>
  <%= render_tab partial: 'prosecutors' %>
  <%= render_tab partial: 'employees' %>
  <%= render_tab partial: 'media' %>
</div>
