<div class="container px-sm-0">
  <div class="clearfix">
    <div id="facets" class="float-lg-left col-lg-3 mb-5 mb-lg-0 px-0 pr-lg-4">
      <div class="facet">
        <h6 class="facet-title" data-toggle="collapse" data-target="#statistic-year-content">
          <%= t '.search.year.title' %>
        </h6>

        <div id="statistic-year-content" class="facet-content collapse show">
          <div class="facet-results">
            <% if @search.facets_for(:year).tap do |facets| %>
              <%= collapsible_facet_results(facets) do |key, _| %>
                <li class="facet-item">
                  <%= link_to statistics_path(search_params(@search.params, year: key)), class: "facet-link#{' active' if search_param?(@search.params, :year, key)}" do %>
                    <%= key %>
                  <% end %>
                </li>
              <% end %>
            <% end.empty? %>
              <span class="text-muted"><%= t '.search.year.not_found' %></span>
            <% end %>
          </div>
        </div>
      </div>

      <div class="facet" data-controller="suggest">
        <h6 class="facet-title" data-toggle="collapse" data-target="#statistic-office-content">
          <%= t '.search.office.title' %>
        </h6>

        <div id="statistic-office-content" class="facet-content collapse show">
          <div class="facet-results">
            <input class="facet-suggest ui-autocomplete-input" name="office" data-target="suggest.query" data-action="keyup->suggest#onChange" placeholder="<%= t '.search.office.placeholder' %>" type="text" autocomplete="off">
            <%= render 'office_results', values: @search.facets_for(:office), params: @search.params %>
          </div>
        </div>
      </div>

      <% Statistic::GROUPS.each do |group, filters| %>
        <% filters.select { |filter| @search.has_statistic_filter?(filter) }.tap do |facets| %>
          <% if facets.any? %>
            <div class="facet">
              <h6 class="facet-title" data-toggle="collapse" data-target="#statistic-<%= group %>-content">
                <%= t ".search.#{group}.title" %>
              </h6>

              <div id="statistic-<%= group %>-content" class="facet-content collapse show">
                <div class="facet-results">
                  <%= collapsible_facet_results(facets) do |key| %>
                    <li class="facet-item">
                      <%= link_to statistics_path(search_params(@search.params, filters: key)), class: "facet-link#{' active' if search_param?(@search.params, :filters, key)}" do %>
                        <%= trim(t("models.statistic.filters.#{key}"), length: 30) %>
                      <% end %>
                    </li>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="float-lg-right col-lg-9 px-0">
      <h1 class="display-2 text-truncate text-uppercase mr-sm-4 mt-1 pr-5">
        <%= t '.title' %>

        <br>
        <small class="text-muted">Prehľad pre štatistiku Odsúdené osoby &ndash; Muži</small>
      </h1>

      <div id="chart" class="mt-5" data-controller="chart" data-json="<%= @search.data.to_json %>">

      </div>
    </div>
  </div>
</div>
