<% provide :title, t('.title') %>

<div class="container px-sm-0" data-controller="facets">
  <div class="clearfix">
    <% facets_time = Benchmark.realtime do %>
      <div id="facets" class="float-lg-left col-lg-3 mb-5 mb-lg-0 px-0 pr-lg-4 collapse show">
        <div class="facet" data-controller="suggest" data-url="<%= suggest_statistics_path(@search.params.merge(facet: :paragraph)) %>">
          <h6 class="facet-title" data-toggle="collapse" data-target="#statistic-paragraph-content">
            <%= t ".search.paragraph.title" %>
          </h6>

          <div id="statistic-paragraph-content" class="facet-content collapse show">
            <div class="facet-results">
              <input class="facet-suggest ui-autocomplete-input" name="office" data-target="suggest.query" data-action="keyup->suggest#onChange" placeholder="<%= t '.search.paragraph.placeholder' %>" type="text" autocomplete="off">

              <% if (facets = @search.facets_for(:paragraph, limit: nil)).any? %>
                <ul class="facet-list">
                  <li class="facet-item">
                    <%= link_to statistics_path(search_params(@search.params, { paragraph: '_all' }, replace: true)), class: "facet-link#{' active' if @search.params[:paragraph].blank? && !@search.default_params?}" do %>
                      <%= t('.search.paragraphs.all') %>
                    <% end %>
                  </li>
                </ul>
              <% end %>

              <%= render "paragraph_results", values: facets, params: @search.params %>
            </div>
          </div>
        </div>

        <div class="facet">
          <h6 class="facet-title" data-toggle="collapse" data-target="#statistic-year-content">
            <%= t '.search.year.title' %>
          </h6>

          <div id="statistic-year-content" class="facet-content collapse show">
            <div class="facet-results">
              <ul class="facet-list">
                <li class="facet-item">
                  <%= link_to statistics_path(search_params(@search.params, year: nil)), class: "facet-link#{' active' if @search.params[:year].blank?}" do %>
                    <%= t('.search.year.all') %>
                  <% end %>
                </li>
              </ul>

              <% if @search.facets_for(:year).tap do |facets| %>
                <%= collapsible_facet_results(facets, selected: @search.params[:year]) do |key, _| %>
                  <li class="facet-item">
                    <%= link_to statistics_path(search_params(@search.params, year: key)), class: "facet-link#{' active' if search_param?(@search.params, :year, key)}" do %>
                      <%= key %>
                    <% end %>
                  </li>
                <% end %>
              <% end.empty? %>
                <span class="text-muted"><%= t '.search.year.not_found' %></span>
              <% end %>
            </div>
          </div>
        </div>

        <div class="facet">
          <h6 class="facet-title" data-toggle="collapse" data-target="#statistic-office-type-content">
            <%= t '.search.office_type.title' %>
          </h6>

          <div id="statistic-office-type-content" class="facet-content collapse show">
            <div class="facet-results">
              <ul class="facet-list">
                <% if @search.facets_for(:office_type).each do |key, _| %>
                  <li class="facet-item">
                    <%= link_to statistics_path(search_params(@search.params, office_type: key)), class: "facet-link#{' active' if search_param?(@search.params, :office_type, key)}" do %>
                      <%= t("offices.types.#{key}") %>
                    <% end %>
                  </li>
                <% end.empty? %>
                  <li class="facet-item">
                    <span class="text-muted"><%= t '.search.office_type.not_found' %></span>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <div class="facet" data-controller="suggest" data-url="<%= suggest_statistics_path(@search.params.merge(facet: :office)) %>">
          <h6 class="facet-title" data-toggle="collapse" data-target="#statistic-office-content">
            <%= t '.search.office.title' %>
          </h6>

          <div id="statistic-office-content" class="facet-content collapse show">
            <div class="facet-results">
              <input class="facet-suggest ui-autocomplete-input" name="office" data-target="suggest.query" data-action="keyup->suggest#onChange" placeholder="<%= t '.search.office.placeholder' %>" type="text" autocomplete="off">
              <ul class="facet-list">
                <li class="facet-item">
                  <%= link_to statistics_path(search_params(@search.params, office: nil)), class: "facet-link#{' active' if @search.params[:office].blank?}" do %>
                    <%= t('.search.office.all') %>
                  <% end %>
                </li>

                <li class="facet-item">
                  <%= link_to statistics_path(search_params(@search.params, { office: '_all' }, replace: true)), class: "facet-link#{' active' if @search.params[:office] == ['_all']}" do %>
                    <%= t('.search.office.by_all') %>
                  <% end %>
                </li>
              </ul>

              <%= render 'office_results', values: @search.facets_for(:office), params: @search.params %>
            </div>
          </div>
        </div>

        <% Statistic::GROUPS.each do |group, metrics| %>
          <% metrics.select { |metric| @search.has_metric?(metric) }.tap do |facets| %>
            <% if facets.any? %>
              <div class="facet">
                <h6 class="facet-title" data-toggle="collapse" data-target="#statistic-<%= group %>-content">
                  <%= t ".search.#{group}.title" %>
                </h6>

                <div id="statistic-<%= group %>-content" class="facet-content collapse show">
                  <div class="facet-results">
                    <%= collapsible_facet_results(facets, selected: @search.params[:metric]) do |key| %>
                      <li class="facet-item">
                        <%= link_to statistics_path(search_params(@search.params, { metric: key }, replace: true)), class: "facet-link#{' active' if search_param?(@search.params, :metric, key)}" do %>
                          <%= trim(t("models.statistic.metrics.#{key}"), length: 30) %>
                        <% end %>
                      </li>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end * 1000 %>
    <div class="float-lg-right col-lg-9 px-0" data-results-for-facets>
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <h1 class="display-2 text-uppercase mr-sm-4 mt-1 pr-5">
          <%= t '.title' %>
        </h1>

        <div class="btn-toolbar" role="toolbar">
          <% if @search.params.any? { |_, v| v.present? } %>
            <div class="btn-group btn-group-sm border mb-3 mr-2" role="group">
              <%= link_to t('layouts.search.reset'), statistics_path, class: 'btn btn-secondary btn-sm shadow-none border-0 w-100', 'data-turbolinks': false %>
            </div>
          <% end %>

          <div class="btn-group btn-group-sm border mb-3" role="group">
            <a href="#" class="btn btn-secondary btn-sm shadow-none border-0 w-100" data-toggle="collapse" data-target="#facets" aria-controls="#facets" aria-expanded="true">
              <span class="show"><%= t '.shrink_chart' %></span>
              <span class="hide"><%= t '.enlarge_chart' %></span>
            </a>
          </div>
        </div>

        <div class="w-100" data-controller="chart" data-json="<%= @data.to_json %>" data-selected-offices="<%= (@search.params.values_at(:office, :office_type).flatten.compact.blank? ? [@search.office_aggregate_key] : @search.data[:data].select { |e| e[:office] }.map { |e| e[:name] }.uniq).to_json %>">
          <h1 class="text-uppercase">
            <small class="text-muted">
              <% if @search.default_params? %>
                <%= t('.subtitle_for_default_params') %>
              <% else %>
                <%= statistics_subtitle(@search.current_statistic_metric, @search.current_statistic_paragraphs) %>
              <% end %>
            </small>
          </h1>

          <% if @search.data[:data].select { |e| e[:office] }.any? %>
            <div class="mt-5 chart"></div>
          <% else %>
            <p class="text-center text-muted mt-5 p-5"><%= t '.no_data' %></p>
          <% end %>

          <div class="table-responsive-md mt-5" data-controller="table">
            <%= table_tag class: 'table table-sm' do %>
              <thead>
                <tr>
                  <%= table_header_tag t('.search.office.title'), class: 'text-left', sorter: 'text' %>
                  <% @data[:years].each do |year| %>
                    <%= table_header_tag year, class: 'text-left', sorter: 'number' %>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @data[:data].each do |value| %>
                  <tr>
                    <th class="text-left" scope="row" data-value="<% value[:name] == @search.office_aggregate_key ? 'a' : value[:name] %>">
                      <%= minified_office_name(value[:name]) %>
                    </th>

                    <% value[:data].each do |count| %>
                      <td  data-value="<%= count || -1 %>"><%= count ? trim(number_with_delimiter(count), length: 5) : '&ndash;'.html_safe %></td>
                    <% end %>
                  </tr>
                <% end %>
              </tbody>
            <% end %>
          </div>

          <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div class="small text-muted mr-3 mt-3">
              <%= t 'layouts.search.found_html', count: number_with_delimiter(@search.current.count), total: I18n.t('statistics.count', count: number_with_delimiter(@count)), time: (@time + facets_time).to_i %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
