<div class="table-responsive-md mt-2" data-controller="table">
   <%= table_tag class: 'table', 'data-sortlist': '[[2, 0]]' do %>
    <thead>
      <tr>
        <%= table_header_tag t('.office'), class: 'text-left', sorter: 'text' %>
        <%= table_header_tag t('.number'), class: 'text-left', sorter: 'text' %>
        <%= table_header_tag trim(t('.effective_on'), length: 5), class: 'text-left', sorter: 'date' %>
        <%= table_header_tag t('.published_on'), class: 'text-left', sorter: 'date' %>
        <%= table_header_tag t('.file_number'), class: 'text-left', sorter: 'text' %>
        <%= table_header_tag t('.resolution'), class: 'text-left', sorter: 'text' %>
        <%= table_header_tag t('.means_of_resolution'), class: 'text-left', sorter: 'text' %>
        <%= table_header_tag '', class: 'text-left' %>
      </tr>
    </thead>
    <tbody>
      <% decrees.includes(:office).order(effective_on: :asc).each do |decree| %>
        <tr>
          <td><%= decree.office ? link_to(decree.office.name, office_path(decree.office)) : '&ndash;' %></td>
          <td><%= link_to decree.number, decree.url, target: '_blank' %></td>
          <td data-value="<%= decree.effective_on %>"><%= l decree.effective_on %></td>
          <td data-value="<%= decree.published_on %>"><%= l decree.published_on %></td>
          <td><%= decree.file_number %></td>
          <td><%= decree.resolution %></td>
          <td><%= decree.means_of_resolution %></td>
          <td class="text-center"><%= decrees_download_icon_link(decree.url, i18n: { file_info: decree.file_info }) %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</div>