<div class="table-responsive-md mt-2" data-controller="table">
  <div class="row mt-3 mb-3 search-query">
    <div class="col-lg-6 pt-1">
      <h4>
        <%= t('.table_title') %> <small class="text-muted">(<span class="search-query-count"><%= @decrees.size %></span>)</small>
      </h4>

      <% if @paragraphs.present? %>
        <h4>
          <small class="text-muted">
            <%= t '.filtered_by' %> <%= @paragraphs.map(&:name).to_sentence %>

            <%= link_to '&times;'.html_safe, prosecutor_path(params[:id], tab: 'decrees'), class: 'cancel' %>
          </small>
        </h4>
      <% end %> 
      
    </div>
    <div class="col-lg-6">
      <div class="input-group input-group-sm">
        <%= search_field_tag :q, '', class: 'form-control search-query-input', placeholder: t('.search.placeholder') %>
        <div class="input-group-append">
          <%= link_to icon_tag('times'), '#', class: 'btn search-query-reset mt-1', style: "display: none;" %>
          <button class="btn mt-1 search-query-submit"><%= icon_tag('search') %></button>
        </div>
      </div>
    </div>
  </div>


  <%= table_tag class: 'table', 'data-sortlist': '[[2, 1]]' do %>
    <thead>
      <tr>
        <%= table_header_tag t('.office'), class: 'text-left', sorter: 'text' %>
        <%= table_header_tag t('.number'), class: 'text-left', sorter: 'text' %>
        <%= table_header_tag t('.effective_on'), class: 'text-left', sorter: 'date' %>
        <%= table_header_tag t('.file_number'), class: 'text-left', sorter: 'text' %>
        <%= table_header_tag t('.paragraph'), class: 'text-left', sorter: 'text' %>
        <%= table_header_tag t('.resolution'), class: 'text-left', sorter: 'text' %>
        <%= table_header_tag t('.means_of_resolution'), class: 'text-left', sorter: 'text' %>
      </tr>
    </thead>
    <tbody>
      <% @decrees.includes(:office, :paragraph).order(effective_on: :asc).each do |decree| %>
        <tr>
          <td data-search-value="<%= decree.office&.name %>"><%= decree.office ? link_to(decree.office.name, office_path(decree.office)) : '&ndash;' %></td>
          <td><%= link_to decree.number, decree.url, target: '_blank' %></td>
          <td data-value="<%= decree.effective_on %>"><%= tooltip_tag(l(decree.effective_on), t('.published', date: l(decree.published_on))) %></td>
          <td><%= decree.file_number %></td>
          <td data-search-value="<%= decree.paragraph&.name %>">
            <%=
              decree.paragraph ? tooltip_tag(
                decree.paragraph.name,
                decree.paragraph.type_old? ? [I18n.t("statistics.index.search.paragraph.old.title"), decree.paragraph_section].join(' &ndash; '.html_safe) : decree.paragraph_section
              ) : '&ndash;'.html_safe
            %>
          </td>
          <td data-search-value="<%= decree.resolution %>"><%= decree.resolution %></td>
          <td data-search-value="<%= decree.means_of_resolution %>"><%= decree.means_of_resolution %></td>
        </tr>
      <% end %>

      <tr class="no-results" style="display: none">
        <td colspan="7" class="text-center"><em><%= t('.search.no_results') %></em></td>
      </tr>
    </tbody>
  <% end %>
</div>