<% @prosecutor.articles.tap do |articles| %>
  <ul id="media" class="list-unstyled mt-4">
    <% articles.each do |article| %>
      <li class="mb-3">
        <a href="<%= article['url'] %>" target="_blank"><%= article['title'] %></a> <span class="text-muted">&middot; <%= article['source'] %></span>
        <br>
        <span class="text-muted"><%= article['snippet'] %></span>
      </li>
    <% end %>
  </ul>

  <% if articles.any? %>
    <p>
      <small class="text-muted">
        <a href="<%= GoogleNews.search_url_for(@prosecutor) %>" target="_blank"><%= t 'prosecutors.show.media.more_from_google' %></a>

        &middot;

        <%= t 'prosecutors.show.media.disclaimer' %>
      </small>
    </p>
  <% else %>
    <p class="text-muted">
      <%= t 'prosecutors.show.media.no_results' %>
    </p>
  <% end %>
<% end %>
