<% provide :title, @prosecutor.name %>

<div class="row">
  <div class="col-lg-12">
    <h1 class="text-uppercase mb-4">
      <%= yield :title %>

      <% if @prosecutor.appointments.current.any? %>
        <%= prosecutor_activity_icon_tag 'fixed', size: 20, placement: 'right' %>
      <% else %>
        <%= prosecutor_activity_icon_tag 'inactive', size: 20, placement: 'right' %>
      <% end %>
    </h1>

    <% @prosecutor.appointments.current.each do |appointment| %>
      <p>
        <%= t "prosecutors.index.list.office_#{appointment.type}_html", link: appointment.office ? link_to(appointment.office.name, office_path(appointment.office)) : appointment.place %>
      </p>
    <% end %>

    <% @prosecutor.employments.each do |employment| %>
    <p>
      <%= t '.employee_html', link: link_to(employment.office.name, office_path(employment.office)), position: employment.position %>
    </p>
    <% end %>
  </div>

  <!--
  <div class="col-lg-5">
    <div class="bg-light border p-3">
      <ul class="mt-2 mb-2">
        <li><a href="#media"><%= t '.media.title' %></a></li>
        <li><a href="#media">Životopis</a></li>
        <li><a href="#media">Motivačný list</a></li>
        <li><a href="#media">Blízke osoby na prokuratúre</a></li>
      </ul>
    </div>
  </div>
  -->
</div>

<ul class="nav nav-tabs mt-4" role="tablist">
  <% @declarations&.each&.with_index do |declaration, i| %>
    <%= tab_link_tag i == 0 ? t('.declarations.title', year: declaration[:year]) : declaration[:year], declaration[:year], class: i == 0 ? 'active' : nil, tabindex: i == 0 ? -1 : nil %>
  <% end %>

  <%= tab_link_tag t('.media.title'), 'media', tabindex: nil %>
</ul>

<div class="tab-content mb-5">
  <% @declarations&.each&.with_index do |declaration, i| %>
    <%= render_tab partial: 'declaration', tab: declaration[:year], locals: { declaration: declaration }, class: i == 0 ? 'active' : nil %>
  <% end %>

  <%= render_tab partial: 'media', tab: 'media' %>
</div>
