<% provide :title, t('.page_title') %>

<%
  @time = Benchmark.realtime do
    @data = @search.data
  end * 1000
%>

<div class="container px-sm-0" data-controller="facets">
  <div class="clearfix">
    <div id="facets" class="float-lg-left col-lg-3 mb-5 mb-lg-0 px-0 pr-lg-4 collapse show">
      <div class="facet" data-controller="suggest" data-url="<%= suggest_crimes_path(@search.params.merge(facet: :paragraph)) %>">
        <h6 class="facet-title" data-toggle="collapse" data-target="#crimes-paragraph-content">
          <%= t "statistics.index.search.paragraph.title" %>
        </h6>

        <div id="crimes-paragraph-content" class="facet-content collapse show">
          <div class="facet-results">
            <input value="<%= params[:paragraph_suggest] %>" class="facet-suggest ui-autocomplete-input" name="paragraph" data-target="suggest.query" data-action="keyup->suggest#onChange" placeholder="<%= t 'statistics.index.search.paragraph.placeholder' %>" type="text" autocomplete="off">

            <% if (facets = @search.facets_for(:paragraph, selected_first: true)).any? %>
              <ul class="facet-list">
                <li class="facet-item">
                  <%= link_to crimes_path(search_params(@search.params, { paragraph: '_all', paragraph_suggest: nil, }, replace: true)), class: "facet-link#{' active' if @search.params[:paragraph].blank? && !@search.default_params?}" do %>
                    <%= t('statistics.index.search.paragraphs.all') %>
                  <% end %>
                </li>
              </ul>
            <% end %>

            <%= render "paragraph_results", values: facets, params: @search.params %>

            <small class="text-muted mt-2"><%= t 'statistics.index.search.paragraph.disclaimer' %></small>
          </div>
        </div>
      </div>

      <div class="facet">
        <h6 class="facet-title" data-toggle="collapse" data-target="#crimes-year-content">
          <%= t 'statistics.index.search.year.title' %>
        </h6>

        <div id="crimes-year-content" class="facet-content collapse show">
          <div class="facet-results">
            <ul class="facet-list">
              <li class="facet-item">
                <%= link_to crimes_path(search_params(@search.params, { year: nil })), class: "facet-link#{' active' if @search.params[:year].blank?}" do %>
                  <%= t('statistics.index.search.year.all') %>
                <% end %>
              </li>
            </ul>

            <% if @search.facets_for(:year).tap do |facets| %>
              <%= collapsible_facet_results(facets, selected: @search.params[:year]) do |key, _| %>
                <li class="facet-item">
                  <%= link_to crimes_path(search_params(@search.params, { year: key })), class: "facet-link#{' active' if search_param?(@search.params, :year, key)}" do %>
                    <%= key %>
                  <% end %>
                </li>
              <% end %>
            <% end.empty? %>
              <span class="text-muted"><%= t 'statistics.index.search.year.not_found' %></span>
            <% end %>
          </div>
        </div>
      </div>

      <% Crime::GROUPS.each do |group, metrics| %>
        <% metrics.select { |metric| @search.has_metric?(metric) }.tap do |facets| %>
          <% if facets.any? %>
            <div class="facet">
              <h6 class="facet-title" data-toggle="collapse" data-target="#crimes-<%= group %>-content">
                <%= t ".search.#{group}.title" %>
              </h6>

              <div id="crimes-<%= group %>-content" class="facet-content collapse show">
                <div class="facet-results">
                  <%= collapsible_facet_results(facets, selected: @search.params[:metric]) do |key| %>
                    <li class="facet-item">
                      <%= link_to crimes_path(search_params(@search.params, { metric: key })), class: "facet-link#{' active' if search_param?(@search.params, :metric, key)}" do %>
                        <%= trim(t("models.crime.metrics.#{key}"), length: 30) %>
                      <% end %>
                    </li>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="float-lg-right col-lg-9 px-0" data-results-for-facets>
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <h1 class="display-2 text-uppercase mr-sm-4 mt-1 pr-5">
          <%= t '.title' %>
        </h1>

        <div class="btn-toolbar" role="toolbar">
          <% if @search.params.any? { |_, v| v.present? } %>
            <div class="btn-group btn-group-sm border mb-3 mr-2" role="group">
              <%= link_to t('layouts.search.reset'), crimes_path, class: 'btn btn-secondary btn-sm shadow-none border-0 w-100', 'data-turbo': false %>
            </div>
          <% end %>

          <div class="btn-group btn-group-sm border mb-3" role="group">
            <a href="#" class="btn btn-secondary btn-sm shadow-none border-0 w-100" data-toggle="collapse" data-target="#facets" aria-controls="#facets" aria-expanded="true">
              <span class="show"><%= t 'statistics.index.shrink_chart' %></span>
              <span class="hide"><%= t 'statistics.index.enlarge_chart' %></span>
            </a>
          </div>

          <div class="btn-group btn-group-sm border mb-3 ml-2">
            <div class="btn-group btn-group-sm flex-grow-1 d-flex" role="group">
              <button type="button" class="btn btn-secondary dropdown-toggle shadow-none border-0 flex-grow-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= t 'Export' %>
              </button>
              <div class="dropdown-menu dropdown-menu-sm">
                <%= link_to 'PNG', png_crimes_path(index_params), class: 'dropdown-item', target: :_blank %>
                <%= link_to 'Embed', embed_crimes_path(index_params), class: 'dropdown-item', target: :_blank %>
              </div>
            </div>
          </div>
        </div>

        <div
          class="w-100"
          data-controller="crimes-chart"
          data-watermark-url="<%= image_url("brands/transparency-international-slovensko.#{I18n.locale}.svg") %>"
          data-comparison="<%= @search.comparison %>"
          data-json="<%= @data.to_json %>"
        >
          <h1 class="text-uppercase">
            <small class="text-muted">
              <% if @search.default_params? && params[:show_default_paragraphs].blank? %>
                <%= t '.subtitle_for_default_params' %>
              <% else %>
                <%= crimes_subtitle(@search) %>
              <% end %>
            </small>
          </h1>

          <% if @search.default_params? && params[:show_default_paragraphs].blank? %>
            <%= link_to t('.show_paragraphs'), crimes_path(@search.params.merge(show_default_paragraphs: true)), class: 'text-muted' %>
          <% end %>

          <% if @data[:data].any? %>
            <div class="mt-5 chart"></div>

            <small class="mt-2 text-muted float-right text-right">
              <%= t '.data_disclaimer' %>
            </small>
          <% else %>
            <p class="text-center text-muted mt-5 p-5"><%= t '.no_data' %></p>
          <% end %>

          <% @data[:data].group_by { |e| e[:group] }.each.with_index do |(group, values), i| %>
            <div class="table-responsive-md table-scrollable <%= i == 0 ? 'mt-5' : 'mt-1' %>" data-controller="table">
              <%= table_tag class: 'table' do %>
                <thead>
                  <tr>
                    <%= table_header_tag t(".search.#{group}.title"), class: 'text-left text-nowrap', sorter: 'text' %>
                    <% @data[:years].each do |year| %>
                      <%= table_header_tag year, class: 'text-left', sorter: 'number' %>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% values.reject { |e| e[:monetary] }.each do |value| %>
                    <tr>
                      <th class="text-left text-nowrap" scope="row" data-value="<%= value[:name] %>">
                        <%= t("models.crime.metrics.#{value[:metric]}") %>
                      </th>

                      <% value[:data].each do |count| %>
                        <td class="text-nowrap text-left" data-value="<%= count || -1 %>"><%= count ? trim(number_with_delimiter(count), length: 7) : '&ndash;'.html_safe %></td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>

                
                <tfoot>
                  <% values.select { |e| e[:monetary] }.each do |value| %>
                    <tr class="table-secondary text-nowrap">
                      <th class="text-left" scope="row" data-value="<%= value[:name] %>">
                        <%= t("models.crime.metrics.#{value[:metric]}") %>
                      </th>

                      <% value[:data].each do |count| %>
                        <td>
                          <span data-toggle="tooltip" title="<%= number_to_currency(number_with_delimiter(count), unit: '€') %>">
                          <%= count ? number_to_currency(number_to_abbreviation(count), unit: '€') : '&ndash;'.html_safe %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                </tfoot>
              <% end %>
            </div>
          <% end %>

          <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div class="small text-muted mr-3 mt-3">
              <%= t 'layouts.search.found_html', count: number_with_delimiter(@search.current.count), total: I18n.t('statistics.count', count: number_with_delimiter(@count)) %>
            </div>

            <div class="small mt-3 text-muted float-right text-right">
              <%= t '.data_source_disclaimer_html' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

